{% extends "::layout.html.twig" %}

{% block title %}Behavioral extensions - demo{% endblock %}
{% block robots %}noindex, nofollow{% endblock %}

{% block content %}

<div class="row action-list">
    <div class="span7">
    {% block actions %}{% endblock %}
    </div>
    <div class="span5 languages">
    {% if languages is defined %}
      {% set routeName = app.request.attributes.get("_route") %}
      {% set routeParams = app.request.attributes.get("_route_params") %}
      <ul>
      {% for language in languages %}
        <li {% if language.language == app.request.locale %}class="active"{% endif %}>
          <a href="{{ path(routeName, routeParams|merge({"_locale": language.language})) }}" title="{{ language.title }}">
            {{ language.title }}
          </a>
        </li>
      {% endfor %}
      </ul>
    {% else %}
        <div class="active-language">Active language is: {{ app.request.locale }}</div>
    {% endif %}
    </div>
</div>

{% if app.session.hasFlash('message') %}
<div class="alert-message success"><p>{{ app.session.flash('message') }}</p></div>
{% endif %}

{% if app.session.hasFlash('error') %}
<div class="alert-message error"><p>{{ app.session.flash('error') }}</p></div>
{% endif %}

{% endblock %}