{% extends "GedmoBlogBundle::layout.html.twig" %}

{% block title %}{{ article.title }}{% endblock %}
{% block description %}{{ article.meta }} {% endblock %}

{% block assets %}
    <link href="{{ asset('bundles/gedmoblog/css/article/view.css') }}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/gedmoblog/syntaxhighlighter/styles/shCore.css') }}" media="screen" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/gedmoblog/syntaxhighlighter/styles/shThemeRDark.css') }}" media="screen" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="{{ asset('bundles/gedmoblog/syntaxhighlighter/scripts/shCore.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gedmoblog/syntaxhighlighter/scripts/shBrushPhp.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gedmoblog/js/jquery.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/gedmoblog/js/article/view.js') }}"></script>
{% endblock %}

{% block content %}

<h1>{{ article.title }}</h1>

<div class="summary">{{ article.summary|raw }}</div>

<div class="main-subject">{{ article.content|raw }}</div>

{% if article.comments|length %}
<h2>Comments</h2>
<div id="comment-list">
{% for comment in article.getComments %}
    <div class="comment-title">
        <span class="number">{{ time_diff(comment.getCreated) }}</span>
        <span class="subject">{{ comment.getSubject }}</span>
        <span class="author">{{ comment.getAuthor }}</span>
        <span class="comment-reply"><a href="#" rel="on-reply" title="Post a reply to this comment">[reply]</a></span>
    </div>
    <div class="separator"></div>
    <div class="comment-body">
        {{ comment.getContent|raw }}
    </div>
{% endfor %}
</div>
{% endif %}

<div class="post-a-comment">
    <h3 id="comment-header" {% if class is defined %}class="{{ class }}"{% endif %}>Post a comment:</h3>
    <form id="comment_form" action="{{ path('blog_article_view', {'slug': article.getSlug}) }}" {{ form_enctype(form) }} method="post">
        <div class="input text optional">
            {{ form_label(form.author) }}
            {{ form_field(form.author) }}
            </div>
        <div class="input text required">
            {{ form_label(form.subject) }}
            <div class="error-message">{{ form_errors(form.subject) }}</div>
            {{ form_field(form.subject) }}
        </div>
        <div class="input textarea required">
            {{ form_label(form.content) }}
            <div class="error-message">{{ form_errors(form.content) }}</div>
            {{ form_field(form.content) }}
        </div>
        {{ form_hidden(form) }}
        <div class="input submit">
            <input type="submit" class="button" value="Submit" id="comment-submit">
        </div>
    </form>
</div>
{% endblock %}