{% extends "GedmoDemoBundle::sub_layout.html.twig" %}

{% block content %}
{{ parent() }}

<div class="actions">
    <ul>
        <li><a href="{{ path('test_category_tree') }}">Show Tree</a></li>
    </ul>
</div>

<h3>Showing log entries of Category({{ node.getId }}) - {{ node.getTitle }}</h3>

<style>
<!--
div.entry {
    clear: both;
    width: 400px;
}

div.entry div.line {
    float: left;
    width: 100px;
    color: blue;
    text-align: right;
    font-weight: bold;
}

div.entry div.value {
    float: right;
    text-align: left;
    width: 280px;
}

div.entry-break {
    background-color:#E0E0F0;
    clear: both;
    height: 3px;
    margin: 0 30px 10px 30px;
}
-->
</style>

<div class="revision-list">
{% for revision in paginator %}
    <div class="entry">
        <div class="line">Version:</div>
        <div class="value">{{ revision.getVersion }}</div>
    </div>
    
    <div class="entry">
        <div class="line">User:</div>
        <div class="value">Undefined</div>
    </div>
    
    <div class="entry">
        <div class="line">Action:</div>
        <div class="value">{{ revision.getAction }}</div>
    </div>
    
    <div class="entry">
        <div class="line">Logged At:</div>
        <div class="value">{{ revision.getLoggedAt|date('Y-m-d H:i:s') }}</div>
    </div>
    
    {% set data = revision.getData %}
    <div class="entry">
        <div class="line">Changes Made:</div>
        {% for field, value in data %}
            <div class="value">
            <span>{{ field }}:</span>
            {% if field == 'created' or field == 'updated' %}
                {{ value|date('Y-m-d H:i:s') }}
            {#{% elseif field == 'parent' %}
                {{ value.id }}#}
            {% else %}
                {{ value }}
            {% endif %}
            </div>
        {% endfor %}
    </div>
    
    <div class="entry-break"></div>
{% endfor %}
</div>

<div id="page-navigation">
    {{ paginator_render(paginator)|raw }}
</div>

{% endblock %}
