{% extends "GedmoDemoBundle::sub_layout.html.twig" %}

{% block scripts %}
<script type="text/javascript">
$(document).ready(function() {
    $('a.tree-reorder-link').click(function () {
        var link = $("select[name='select-root-category'] option:selected").attr('value');
        $(this).attr('href', link + $(this).attr('href'));
        return true;
    });
});
</script>
{% endblock %}

{% block actions %}
<ul>
    <li><a href="{{ path('demo_category_list') }}">List Categories</a></li>
    <li><a href="{{ path('demo_category_add') }}">Add Category</a></li>
    <li><a href="{{ path('demo_language_add') }}">Add Language</a></li>
    {% if rootNodes %}
    <li>
        <span>Reorder </span>
        <select name="select-root-category">
            {% for node in rootNodes %}
                <option value="{{ path('demo_category_reorder', {'id': node.id}) }}">{{ node.title }}</option>
            {% endfor %}
        </select>
        <span> Tree by "Title", direction: </span>
        <a class="tree-reorder-link" href="/asc">ASC</a>
        <span> - </span>
        <a class="tree-reorder-link" href="/desc">DESC</a>
    </li>
    <li>
      <a href="{{ path('demo_fallback_translation') }}" title="Languages which does not have translation may fallback to default">
        {% if app.session.get('gedmo.trans.fallback') %}
            <span><em>Disable</em> translation fallback</span>
        {% else %}
            <span><em>Enable</em> translation fallback</span>
        {% endif %}
      </a>
    </li>
    <li>
      <a href="{{ path('demo_inner_strategy') }}" title="Wether or not display records which do not have translations">
        {% if app.session.get('gedmo.trans.inner_join') %}
            <span>Use <em>left join</em> for translations</span>
        {% else %}
            <span>Use <em>inner join</em> for translations</span>
        {% endif %}
      </a>
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
{{ parent() }}

<h3>The tree looks like:</h3>

<div id="tree">
    {{ tree|raw }}
</div>

{% endblock %}

